main{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
    transition: 0.2s;
}

main img:hover{
    opacity: 0.7;

}